html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:0; padding:0; font-size:13px; font-family:Jokerman, "Times New Roman", Times, serif; color:#919191; background-color:#150a1a;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{ display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Imprint MT Shadow, "Times New Roman", Times, serif;}

.fl_left{float:left;}
.fl_right{float:right;}


/*________________________________________________*/
body{background-color: #313;}
div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1{color:#C0BAB6; background-image: url("http://images6.fanpop.com/image/photos/40100000/Neon-Lights-kaidaeclipse-40121897-2560-1440.jpg"
);
background-size: 200px 100%;
border-bottom: 2pt solid #fff;}
.row2{color:#979797; background-color: #150a1a;
background-size:cover;
}
.row2 a{color:#009dff; background-color:#910bc3;}
.row3, .row3 a{color:#919191; background-color:#232323;}
/*----------------------------------------------Generalise-------------------------------------*/

#header, #footer{display:block; width:960px; margin:0 auto;}
#row{float: left;  width:450px; margin:0 auto;}
 #row2{float: right; width:450px; margin:0 auto;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:16px; font-weight:bold; font-style:normal; line-height:normal; text-transform:uppercase;}


form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia,"Times New Roman",Times,serif;}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}
.two_third{width:630px;}
.three_third{width:960px; float:none; margin-right:0; clear:both;}
.lastbox{margin-right:0;}
.one_third span p{ color:#c71fb4; font-style:italic;}
#wr1{display:block; width: 935px; margin: 0 auto;}
/*----------------------------------------------Header-------------------------------------*/


#header{padding:20px 0;}

#header #hgroup{float:left; margin:0 0 0px 0;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal; text-transform:none;}
#header #hgroup h1{font-size:60px;font-family:Imprint MT Shadow;
	text-shadow: -3px 3px 0px #fff;}
#header #hgroup h2{font-size:20px;text-shadow: -1px 2px 0px #900;}

#header form{display:block; width:290px; float:right; margin:20px 0; padding:0;}
#header form input{display:block; float:left; width:200px; margin:0; padding:5px; color:#27122e; background-color:#c748af; border:1px solid #f8f6f6;}/*???????? ????*/
#header form #sf_submit{display:block; float:right; width:70px; font-size:12px; font-weight:bold; text-transform:uppercase; color:#FFFFFF; background-color:#2a1ba0; border:1px solid white; cursor:pointer;}

#header nav{display:block; width:100%; margin:0; padding:20px 0; color:#fa0c0c; background-color:rgba(12, 2, 25, 0.63); border: 2px solid #fff; clear:both;}
#header nav ul{padding:0 20px;}
#header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li.last{margin-right:0;}
#header nav li a{color:#fff; background-color:#000; border: 3px solid #000;border-radius: 10px 20px;}
#header nav li a:hover{color:blue; background-color:#30cdea; 
border: 4px solid #1cc7e6; border-radius: 20px 10px;}

/*----------------------------------------------Footer-------------------------------------*/

footer{padding:10px;}
#footer img {float: right; width: 30px; height: 30px; position: relative;}
/*-------------------------------------CONTENT------------------------------------------*/
.mustext{font-size: 10px;  display: block;}
section{ margin-left: 150px; margin-top: 10px; padding: 3px; position: relative; display: block; }
.sec1 img{width: 450px; height: 350px;border: 1px solid #fff;}
.sec2 img{width: 150px; float: left; height:  150px; margin: 7px; border: 2px solid #fff;}

.sec1{ width:100%; float:left; margin:10px 0 0 0; padding:20px 8px; color:#fff; ; border: 2px solid #fff; background-color: #190e1c; clear:both;}
.sec2{ width:100%;  margin:10px 0 0 0; padding:20px 8px; color:#fff; ; border: 2px solid #fff; background-color: #190e1c; clear:both;}
.sec1 img{display: block;}

